.landing {

  &-wrap {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url("../../../assets/img/computer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
